build*/
cmake-build*/
CMakerLists.txt
CMakeLists.txt.user
.cache/
.vscode/

## CPM
cpm-package-lock.cmake
CPM_modules/

## tmtsl
tmtsl/errors
tmtsl/lexer
tmtsl/parser
tmtsl/token
tmtsl/util
tmtsl/*.txt
tmtsl/tmtsl
tmtsl/*.exe
